<!-- app/views/pokemon/index.html.erb -->
<h1>Pokémon List</h1>

<%= form_tag(root_path, method: "get") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Pokémon by name..." %>
  <%= submit_tag "Search" %>
<% end %>

<ul>
  <% @pokemons.each do |pokemon| %>
    <li><%= link_to pokemon['name'], pokemon_show_path(pokemon['name']) %></li>
  <% end %>
</ul>
